{% assign navPages = collections.all | eleventyNavigation %}
<nav id="nav">
  <ul>
    {%- for entry in navPages %}    
      <li{% if entry.url==page.url %} class="current"{% endif %}>
        {%- if entry.url contains 'docs.' %}
          <a href="{{ entry.url }}" target="_blank">{{ entry.title }}</a>
        {%- else %}
          {%- if entry.children.length > 0 %}
            <a href="{{ entry.url }}" class="icon solid fa-angle-down">{{ entry.title }}</a>
          {%- else %}
            <a href="{{ entry.url }}">{{ entry.title }}</a>
          {%- endif %}
        {%- endif %}
        {%- if entry.children.length > 0 %}
        <ul>
          {%- for child in entry.children %}
          <li><a href="{{ child.url }}">{{ child.title }}</a></li>
          {%- endfor %}
        </ul>
        {%- endif %}
        </li>
    {%- endfor %}
  </ul>
</nav>

