---
layout: base
---

<div id="wrapper">
	<section class="main style1">
		<header class="small">
			<h1>{{title}}</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce eu lacus imperdiet, cursus erat vitae, dictum
				nulla. Mauris et euismod sed nunc. Proin vel rhoncus mauris. Quisque mattis dictum etiam.</p>
		</header>
		<div class="inner">
			{{content}}
		</div>
	</section>
</div>
