---
layout: base
---

<body class="landing is-preload">
	{% include 'header.html' %}
	<section id="banner">
		<div class="inner">
			<h2>Fumble: To make awkward attempts to do or find something<br />
				Diddle: To pass time aimlessly or unproductively</h2>
		</div>
	</section>
	<section id="one" class="wrapper style2">
		<div class="container">
			<header class="major">
				<h2>Who We Are</h2>
				{{ content }}
				<ul class="actions special">
					<li>
						<a href="{{ " /" | htmlBaseUrl }}products/" class="button large scrolly">Products</a>
					</li>
				</ul>
			</header>			
		</div>
	</section>
	{% include 'footer.html' %}
	{% include 'page-scripts.html' %}
	<p>Photo by <a href="https://unsplash.com/@aridley88?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash" target="_blank">Andrew Ridley</a> on <a href="https://unsplash.com/photos/a-multicolored-tile-wall-with-a-pattern-of-small-squares-jR4Zf-riEjI?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash" target="_blank">Unsplash</a></p>
</body>
  

