---
layout: base
---

<div id="wrapper">
	<section class="banner">
		<div class="image" data-position="right">
			<img src="images/mitchell-luo-FWoq_ldWlNQ-unsplash-cropped.jpg" alt="" />
		</div>
		<div class="content">			
			<h1><strong>Fumble:</strong> To make awkward attempts to do or find something<br />
			<strong>Diddle</strong>: To pass time aimlessly or unproductively.</h1>
		</div>
	</section>

	<section class="main">
		<header class="inner">
			{{ content	}}
			<ul class="actions special">
				<li><a href="{{ "/" | htmlBaseUrl }}products/" class="button next">Products</a></li>
			</ul>
		</header>		
	</section>
	
	<p>Photo by <a href="https://unsplash.com/@mitchel3uo?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash" target="_blank">Mitchell Luo</a> on <a href="https://unsplash.com/photos/black-and-white-striped-textile-FWoq_ldWlNQ?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash" target="_blank">Unsplash</a>
  </p>
</div>
