---
title: Fumbly Diddle News
layout: default
pagination:
  data: collections.newsByTimestamp
  size: 10
  alias: newsItems
  reverse: true 
eleventyNavigation:
  key: News
  order: 3
---

{%- if newsItems.length > 0 %}
  {% include 'pagination-count.html' %}
  <ul class="alt">
    {%- for newsItem in newsItems %}
    <li>
      <h4><a style="cursor: pointer" href="{{newsItem.url}}">{{ newsItem.data.title }}</a></h4>
      <strong>Date: </strong>{{ newsItem.data.timestamp | readableTimestamp }}
      <p>{{ newsItem.templateContent  }}</p>
    </li>
    {%- endfor %}
  </ul>
  {% include 'pagination-nav.html' %}
{%- else %}
  <p>No News Items found, please try again later.</p>
{%- endif %}