---
title: Products
layout: default
eleventyNavigation:
  key: Products
  order: 3
---

This page lists all of the software products we produce. We only have one right now, so the list is a little light.

<br /><br />
{% assign products = collections.product %}
{%- if products.length > 0 %}
<ul class="alt">
  {%- for product in products %}
  <li>
    <h4><a style="cursor: pointer" href="{{product.url}}">{{ product.data.title }}</a></h4>
    {%- if product.data.description %}
      <p>{{ product.data.description }}</p>
    {%- endif %}
  </li>
  {%- endfor %}
</ul>
{%- else %}
<p>No products found</p>
{%- endif %}